@media only screen and (max-width: 768px) {
    .picture_same img{
      width: 100%;
    }
    .picture_student img{
      width: 100%;
    }
    .picture_different {
      display:block;
    }
    .picture_different img {
      width:100%;
    }
  }
  @media only screen and (max-width: 991px) and (min-width:769px) {
    .picture_student img{
      width:100%;
    }
    .picture_same img{
      width: 100%;
    }
    .picture_different img{
      width:100%;
    }
  }
  @media only screen and (max-width: 1199px) and (min-width:992px) {
    .picture_student img{
      width:100%;
    }
    .picture_same img {
      width: 100%;
    }
    .picture_different {
      -webkit-column-count: 1;
        -webkit-column-gap: 10px;
        -moz-column-count: 1;
        -moz-column-gap: 0px;
         column-count: 2;
         column-gap: 5px;
    }
    .picture_different img {
      width: 100% !important;
      height: auto !important;
    }
    .picture_different {
      display:inline-block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media only screen and (min-width:1200px) {
    .picture_student {
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
    }
    .picture_student img {
      margin-right: 50px;
      width:100%;
    }
    .picture_same img{
      width: 100%;
    }
    .picture_different {
      -webkit-column-count: 1;
        -webkit-column-gap: 10px;
        -moz-column-count: 1;
        -moz-column-gap: 0px;
         column-count: 2;
         column-gap: 5px;
    }
    .picture_different img {
      width: 100% !important;
      height: auto !important;
    }
    .picture_different {
      display:inline-block;
      margin-right: auto;
      margin-left: auto;
    }
  }