.education-content {
    display: flex;
    padding-left: 20px;
}
.education-left img{
    max-width: 100px;
    width: 100px;
}
.education-right {
    margin-left: 20px;
}
#cap{
    padding-top: 50%;
}
