*{
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
}
.social a{
  color: gray;
  padding: 0 5px 0 0;
  margin:0;
}
.social a:hover {
  transition: .5s;
  color:#082d52;
}
.social {
  font-size: 32px;
}
body{
  margin:0px ;
}
.header {
  padding:10px 15% 10px 15%;
  display:grid;
  grid-template-columns: 200px 5fr;
}
.header-left img {
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.header-right {
  padding:40px 5% 10px 0;
}
.thin {
  font-weight: 300;
}
.name {
  font-weight: 700;
  margin:0;
}
.role {
  font-weight: 400;
  color: gray;
  margin:0;
}
.content {
  padding:10px 15% 10px 15%;
  background: #082d52;
}
.section {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  margin-bottom:10px;
}
.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin:0px;
}
.section-text {
  margin: 0px;
}
.about-me{
  grid-area: about-me;
}
.coding-projects{
  grid-area: coding-projects;
}
.design-projects{
  grid-area: design-projects;
}
.work-exp{
  grid-area: work-exp;
}
.lang-tech{
  grid-area: lang-tech;
}
.education{
  grid-area: education;
}
.certification{
  grid-area: certification;
}
.no-bullet {
  list-style-type:none;
}
