body {
  margin: 0px;
  background: rgb(4,67,143);
  background: linear-gradient(270deg, rgba(4,67,143,1) 0%, rgba(47,91,137,1) 39%, rgba(69,143,135,1) 100%);
}
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  font-weight: normal;
}
.about {
  padding: 30px 0px 0px 0px;
}
.portrait img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bio {
  margin: 0px 20% 0px 20%;
  padding-bottom: 20px;
}
.bio h2 {
  text-align: center;
  color: #d9d9d9;
  font-family: "Poppins";
  font-weight: normal;
}
.content {
  background-color: #e8e8e8;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
}
.nav-bar {
  font-weight: normal;
  background-color: #b8b8b8;
  padding-bottom: 0px;
}
.page-links {
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.inactive {
  background-color: #b8b8b8;
  padding: 10px 10px 5px 10px;
}
.inactive:hover {
  background-color: gray;
}
.active {
  background-color: #e8e8e8;
  padding: 10px 10px 5px 10px;
}
.social {
  float: right;
}
.social img {
  width: 25px;
  padding: 3px 5px 2px 5px;
}
.social img:hover {
  transition: .5s;
  transform: scale(1.05);
}
.page-content {
  font-family: "Poppins";
  padding: 10px 20px 20px 20px;
  color: #171624;
}
