.page-content h1 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-content h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.page-content h4 {
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.page-content h5 {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-content h6 {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-content o {
  color: #f07a02;
}
.page-content h5 a {
  color: #f07a02;
}
.page-content h5 a:hover {
  color: gold;
}
a h3 {
  color: #171624;
}
a h3:hover {
  color: #f07a02;
}
@media only screen and (max-width: 685px) {
  .social{
    display: none;
  }
}
